p { color : red}

h1 {
  color : black;
}

body {
  color: yellow;
}
 .example-wrapper {
   background : black;
 }
 
 .green .k-input  {
  color : green !important;
  height: 20px !important;
  font-size: 10px !important;
 // transform: translate(10px,0px);
}

.green.k-dropdown .k-dropdown-wrap 
{
  transform: translate(200px,0px);
  background: transparent !important;
    border: none  !important;
    box-shadow: none  !important;
    /*
    */
    width : 100px;
   
}
/* does nothing 
.k-animation-container .k-animation-container-shown {
  font-size: 10px !important;
  background: purple !important;
  color : blue !important;
} */

.myPopupClass {
  background: red;
  margin: 0px;
  font-size: 10px;
  
}